{{ template "layout" .}}


{{ define "main" }}
<form action="/message" method="post" accept-charset="utf-8">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nama</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name="nama">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Pesan</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="pesan"></textarea>
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-primary" name="submit">Kirim</button>
</div>
</form>
{{ end }}